//META{"name":"Discord Dark Theme Enhancer CreationDate Patch","description":"Allows for the theme to be formatted correctly for the Creation Date Plugin!","author":"Wapour Vave⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀Enable Me Please! ->","version":"1.0.0"}*//{}

  /*-----------------------------
  -------------------------------
  Discord Dark Theme Enhancer Mod
        CreationDate Patch
  -------------------------------
  -----------------------------*/

  /*-----------------------------------------
  Version Info
  -----------------------------------------*/
/* Hide the Name, Version and Author all in one fatal swoop */
li[data-name*="Discord Dark Theme Enhancer CreationDate Patch"] .bda-header-title
{
	font-size: 0px;
}

/* The new Name, Version and Author information! */
li[data-name*="Discord Dark Theme Enhancer CreationDate Patch"] .bda-header-title:after
{
	font-size: 12px;
	content: "Discord Dark Theme Enhancer CreationDate Patch v1.0.0 by Wapour Vave⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀Thank You Friend! 🙂";
	bottom: 10px;
}

  /*-----------------------------------------
  Fun little dev badge for the Gamer
  -----------------------------------------*/
  /* This is positioning again, but for those who use the Creation Date Plugin */
.da-avatar[user_by_bdfdb*="142795541833580544"]:after
{
  bottom:  65px!important;
}

/* This is the tooltip location, but for those who use the Creation Date Plugin */
.da-avatar[user_by_bdfdb*="142795541833580544"]:hover:before
{
    bottom: 38px!important;
}

/* Popout Triangle for the Creation Date Plugin */
.da-avatar[user_by_bdfdb*="142795541833580544"]:hover+.da-headerInfo:after
{
  top: 57px!important;
}
